.header
	background-image url('./santiagoskyline.gif')
	background-size contain
	background-repeat no-repeat
	background-position-y bottom
	background-position-x center
	background-size cover
	.header_top-bg
		background none
	.header_bottom-bg
		background none
		
