.header
	background-image url('/assets/images/santiagoskyline.gif')
	background-repeat no-repeat
	background-position-y bottom
	background-position-x center
	background-size contain
	.header_top-bg
		background none
	.header_bottom-bg
		background none
		
